<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>EDit your message</h3>
    <form action="/chats/<%=mes._id%>?_method=PUT" method="post">
        <textarea name="message"><%=mes.message%></textarea>
        <button type="submit">Submit</button>
    </form>

</body>
</html>